<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update director</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/director/{id}(id=${director.getId()})}" th:object="${director}">
    <label for="firstNameDirector">Enter name: </label>
    <input type="text" th:field="*{firstNameDirector}" id="firstNameDirector"/>
    <br/>
    <label for="lastNameDirector">Enter Last Name: </label>
    <input type="text" th:field="*{lastNameDirector}" id="lastNameDirector"/>
    <br/>
    <label for="nationalityDirector">Enter nationality: </label>
    <input type="text" th:field="*{nationalityDirector}" id="nationalityDirector"/>
    <br/>
    <input type="submit" value="Update!"/>
</form>
</body>
</html>